<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高雄景點</title>
    <link rel='preconnect' href='https://fonts.gstatic.com'>
    <link href='https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="pic/logo.png">
</head>
<body>
    <div class="bg">
        <div id="app">
            <select name="sel" id="" v-model="sel">
                <option :value="item" v-for="(item,keys) in dataObj" :key="keys">
                    {{item.Name}}
                </option>
            </select>
            <div class="wrap">
                
                <span>地址:{{sel.Add}}</span><br/>
                <span>介紹:{{sel.Toldescribe}}</span>
                <div class="map">
                    <iframe :src=`https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=${sel.Py},${sel.Px}(${sel.Name})&z=16&output=embed` allowfullscreen="false" loading="lazy"></iframe>
                </div>
                
            </div>
        </div>

        <footer>&copy;2021 GuanXian</footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>